body, html {
    /*margin:0;
    padding:0;
    background:url("./Img/gris2.jpg");*/
    /*background-color: gray;*/
    background-color: #5B0101;
}

#completo {
    height: 1000px;
    width:1000px;    
    border:ridge 1px;    
    background-color: #E6E6E6;
    float: left;
    margin: auto;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-color: red;
    border-radius: 5px;
}

#cabecera {
    /*background:url("../imagenes/chavez_bannerr.jpg") 100%;*/
    background-color: #F78181;
    height: 150px;
    width:98%;    
    border:ridge 1px;
    border-radius: 5px;
    float: left;
    margin: 10 0 0 0;
    border-color: red;
    margin-left: 10px;
}

#menu {
    /*background:url("../imagenes/chavez_bannerr.jpg") 100%;*/
    height: 30px;
    width:96%;
    border:ridge 1px;
    border-radius: 5px;
    float: left;
    margin: 10 0 0 0;
    border-color: red;
    margin-left: 10px;
    padding: 10px;
}

#cuerpo {
    height: 610px;
    width:98%;    
    float: left;
    border:ridge 1px;
    /*margin-bottom: 5px;*/
    margin: 10 0 0 10;
    border-color: red;
    overflow: auto;
    border-radius: 5px;
    /*margin-left: 10px;*/
}

#footer {
    /*background:url("../imagenes/chavez_footerr.jpg") 100%;*/
    background-color: #F78181;
    width:98%;
    height: 135px;
    float: left;
    border:ridge 1px;
    margin: 10 0 0 5;
    border-color: red;
    border-radius: 5px;
    margin-left: 10px;
}

table {
    width:95%;
    text-align:right;
    margin: 0 auto;
}

input#id_fecha {
    width: 120px;
}

#id_pregunta1 {
    width: 930px;
    height: 100px;
    /*border:ridge 1px;*/
}

#layout_pregunta1 {
    width: 930px;
    height: 120px;
    margin: 0 auto;
    /*border:ridge 1px;*/
}

#terminos {
    background-color:#FFFFFF;
    height: 110px;
    width:93%;
    margin: 0 auto;
    border:ridge 1px;
    border-radius: 10px;
    padding: 10px;
}

span#texto_terminos {    
    font-family: cursive;
    font-size: 12px;
}

input {
    width: 150px;
}

.requerido {
    color: red;
}