{% extends "base.html" %}

{% block menu %}
	<a href="{% url 'index' %}"><button>Inicio</button></a>
	<a href="{% url 'registrar' %}"><button>Registrar</button></a>
	<a href="{% url 'consultar' %}"><button>Consultar</button></a>
{% endblock %}

{% block cuerpo %}
	<div align="center">		
		<p />
		<b>Registros</b>
		<br />
		<br />		
		<table border="1px" cellpadding="0px" cellspacing="0px" style="text-align:center">
			<tr>
				<td><b>N</b></td>
				<td><b>Nombre</b></td>
				<td><b>Apellido</b></td>
				<td><b>Cedula</b></td>
				<td><b>Teléfono</b></td>
				<td><b>Email</b></td>
				<td><b>Nacionalidad</b></td>				
				<td><b>Fecha</b></td>
				<td><b>Pregunta1</b></td>
				<td><b>Aceptó</b></td>
			</tr>
			{% for x in lista %}
			<tr>
				<td>{{ x.id }}</td>
				<td>{{ x.nombre }}</td>
				<td>{{ x.apellido }}</td>
				<td>{{ x.cedula }}</td>
				<td>{{ x.telefono }}</td>
				<td>{{ x.email }}</td>				
				{% if x.nacionalidad == "V" %}
					<td>
						Venezolano
					</td>
				{% elif x.nacionalidad == "E" %}
					<td>
						Extranjero
					</td>
				{% endif %}
				<td>{{ x.fecha }}</td>
				<td>{{ x.pregunta1 }}</td>				
				{% if x.terminos == True %}
					<td>
						Sí
					</td>
				{% else %}
					<td>
						No
					</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}